<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <clear/>
    <!-- Checking account interest rate-->
    <add key="CheckingRate" value="0.001"/>
    <!-- Savings account interest rate to the first $1000-->
    <add key="SavingsRateLow" value="0.001"/>
    <!-- Savings account interest rate for amounts over $1000-->
    <add key="SavingsRateHigh" value="0.002"/>
    <!-- Maxi-Savings account interest rate for the first $1000 -->
    <add key="MaxSavingsRateLow" value="0.02"/>
    <!-- Maxi-Savings account interest rate for the second $1000 -->
    <add key="MaxSavingsRateMid" value="0.05"/>
    <!-- Maxi-Savings account interest rate for amonts over the $2000-->
    <add key="MaxSavingsRateMax" value="0.1"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
